:root {
  --primary-color: #ff9854;
  --theme-linear-gradient: linear-gradient(90deg, #fa8c1d, #fcaf3f);

  /* 全局修改: 任何地方只要用到-van-tabbar-item-icon-size都会被修改掉 */
  /* --van-tabbar-item-icon-size: 30px !important; */

  --van-primary-color: var(--primary-color) !important;
  --van-search-left-icon-color: var(--primary-color) !important;
  --van-tabs-line-height: 50px !important;
  --van-calendar-popup-height: 100% !important;
  --van-nav-bar-title-text-color: var(--primary-color) !important;
}

html {
  font-size: 15px;
  line-height: 1.2;
  background-color: #f7f8fb;
}

/* body {
  font-family: PingFangSC-Regular, Helvetica Neue, sans-serif;
} */

.bottom-gray-line {
  border-bottom: 1px solid #f8f9f9;
}

img {
  vertical-align: top;
}
